:host {
    box-sizing: border-box;
    display: block;
    border: 1px solid rgb(238, 238, 238);
    border-style: inset;
    cursor: text;
    overflow: hidden;
}

:host:focus {
    outline: -webkit-focus-ring-color auto 1px;
}

#tags-container {
    line-height: 1;
    vertical-align: top;
}

#input {
    border: 0;
    outline: none;
    display: inline-block;
    min-width: 30px;
    max-width: 400px;
    display: inline-block;
}

.tag {
    vertical-align: top;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: var(--plumb-tagger-padding, 0);
    padding-bottom: var(--plumb-tagger-padding, 0);
    margin-top: calc(-1 * var(--plumb-tagger-padding, 0));
    margin-bottom: calc(-1 * var(--plumb-tagger-padding, 0));
    border: 0;
    border-radius: 3px;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    background-color: var(--plumb-tagger-tag-background-color, #E1ECF4);
    color: var(--plumb-tagger-tag-color, #2c5777);
    overflow: hidden;
    vertical-align: middle;
    margin-left: 2px;
}

.tag-name {
    margin-right: 6px;
}

.delete {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.delete:hover {
    opacity: .7;
}

.delete:active {
    opacity: .9;
}